name: my-job

on: [push]

jobs:
  my-jobs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v1

    - name: test github acitons
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: docker test
      env:
        DOCKER_USER_NAME: ${{secrets.DOCKER_USER_NAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        node -v
        docker -v
        docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
        docker pull guygubaby/nexhome-firmware-server
    - name: change directory
      working-directory: './golang'
      run: |
        ls
      env:
        CI: true
